
	
	body {

		background-color: #630427;
		font-family: 'Signika Negative', sans-serif;
		font-size: 20px;
	}



	.container {

		display: flex;
		justify-content: center;
		align-items: center;

		height: 100vh;
		
		
	}


	.calculadora {

		display: grid;
		grid-template-columns: repeat(4, 75px);
		grid-template-rows: 160px repeat(5, 70px);

		background-color: #24526d;
		padding: 32px;
		border-radius: 30px;
		box-shadow: 12px 15px 7px 2px #1e222280;
		

	}


	.display {

		background-color: #202020;
		color: #efefef ;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		grid-column: 1 / -1;
		justify-content: space-between;
		font-size: 25px;

		border-radius: 10px;
		padding: 35px;
		padding-top: 35px;
		margin-bottom: 20px;
		box-shadow: 0px 0px 0px 10px #1e222250;
		
	}

	#numeroActual {

		
		font-size: 18px;

	}



	button {

		background-color: #2f7390 ;
		color: #c3e7fb;

		cursor: pointer;
		margin: 5px;
		border-radius: 28px;
		border: none;
		font-size: 18px;

		box-shadow: 3px 3px 8px 2px #10243090;
	}

	button:active {

		background-color: #183d48;
	}

	.dobleespacio {

		grid-column: span 2 ;

	}

	.igualdad {

		background-color: #2f738a;
	}

	.borrar {

		background-color: #823431 ;
		color: #f6e8e8 ;
	}
	
	.borrar:active {

		background-color: #481819;
	}